@model ClienteModel

@{
    Layout = "_Layout";
}

<h2>Cadastro de Cliente</h2>

<div class="container">
    <form asp-controller="Cliente" asp-action="InserirCliente" method="post" >
        <div>
            
            Nome:
            <input asp-for="Nome"/><br/>
            CEP:
            <input asp-for="CEP"/><br/>
            Endereço:
            <input asp-for="Endereco"/><br/>
            Bairro:
            <input asp-for="Bairro"/><br/>
            Cidade:
            <input asp-for="Cidade"/><br/>
            UF:
            <input asp-for="Uf"/><br/>
            Status:
            <input asp-for="Status"/><br/>
        </div>
        <a asp-controller="Cliente" asp-action="ListaClientes" class="btn btn-primary" >Voltar</a>
        <button  type="submit" class="btn btn-sussec" >Salvar</button>
        
    </form>
    
    
    
</div>
